.idea
venv
.env
app/__pycache__
app/router/main/__pycache__
app/router/user/__pycache__

services/__pycache__
tests/__pycache__
services/logs
app/router/notify/__pycache__/
i18n/__pycache__/
app/router/data/__pycache__/
app.log
services/logs\\funding_rate.log

node_modules
dataframes
